*{
  margin: 0;
  padding: 0;
}

nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #305959
}

nav div{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size:19px;
  padding: 15px;
}
nav table{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size:19px;
  padding: 15px;
}

nav table img{
width: 20px;
border-radius:5px;

}

ul{
  font-family: 'Roboto', sans-serif;
  color: #03968c;
  font-size:13px;
  display: none;
  list-style: none;
  text-align: right;
  padding-right: 15px;

}
li{
  padding: 1px;
}

@media only screen and (max-width: 1200px ) {
}
@media only screen and (max-width: 991px ){

}
@media only screen and (max-width: 768px ) {
  nav{
    background-color: #ffbd16;
    height: auto;
  }
 table{
    display: none;
  }
  ul{
    display: inline-block;
  }
}
@media only screen and (max-width: 575px ) {
}
